# Python
__pycache__/
*.pyc

# PlatformIO
.pio/
.pioenvs/
.vscode/

# PyInstaller
build/
dist/
*.spec

# Logs and releases
relay_debug.log
relay_events.log
release/
logs/
*.log

# System
.DS_Store
Thumbs.db

# Other
*.exe